{% capture overlay_img_path %}{{ page.header.overlay_image | relative_url }}{% endcapture %}

{% if page.header.overlay_filter contains "gradient" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
{% elsif page.header.overlay_filter contains "rgba" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% elsif page.header.overlay_filter %}
  {% capture overlay_filter %}rgba(0, 0, 0, {{ page.header.overlay_filter }}){% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% endif %}

{% if page.header.image_description %}
  {% assign image_description = page.header.image_description %}
{% else %}
  {% assign image_description = page.title %}
{% endif %}

{% assign image_description = image_description | markdownify | strip_html | strip_newlines | escape_once %}
{% if overlay_img_path %}
<style scoped>
.page__hero {
  background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/165x80.jpg');
}
@media (min-width: 166px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/329x160.jpg');
  }
}
@media (min-width: 330px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/494x240.jpg');
  }
}
@media (min-width: 495px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/658x320.jpg');
  }
}
@media (min-width: 659px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/823x400.jpg');
  }
}
@media (min-width: 824px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/987x480.jpg');
  }
}
@media (min-width: 988px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/1152x560.jpg');
  }
}
@media (min-width: 1153px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/1317x640.jpg');
  }
}
@media (min-width: 1318px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/1481x720.jpg');
  }
}
@media (min-width: 1482px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/1646x800.jpg');
  }
}
@media (min-width: 1647px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/1810x880.jpg');
  }
}
@media (min-width: 1811px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/1975x960.jpg');
  }
}
@media (min-width: 1976px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/2139x1040.jpg');
  }
}
@media (min-width: 2140px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/2304x1120.jpg');
  }
}
@media (min-width: 2305px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/2469x1200.jpg');
  }
}
@media (min-width: 2470px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/2633x1280.jpg');
  }
}
@media (min-width: 2634px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/2798x1360.jpg');
  }
}
@media (min-width: 2799px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/2962x1440.jpg');
  }
}
@media (min-width: 2963px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/3127x1520.jpg');
  }
}
@media (min-width: 3128px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/3291x1600.jpg');
  }
}
@media (min-width: 3292px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/3456x1680.jpg');
  }
}
@media (min-width: 3457px) {
  .page__hero {
	background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}/4032x1960.jpg');
  }
}
{% endif %}
<div class="page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %}" style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %}">
  {% if page.header.overlay_color or page.header.overlay_image %}
    <div class="wrapper">
      <h1 id="page-title" class="page__title" itemprop="headline">
        {% if paginator and site.paginate_show_page_num %}
          {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
        {% else %}
          {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
        {% endif %}
      </h1>
      {% if page.tagline %}
        <div class="page__lead">{{ page.tagline | markdownify }}</div>
      {% elsif page.header.show_overlay_excerpt != false and page.excerpt %}
        <div class="page__lead">{{ page.excerpt | markdownify }}</div>
      {% endif %}
      {% include page__meta.html %}
      {% if page.header.cta_url %}
        <p><a href="{{ page.header.cta_url | relative_url }}" class="btn btn--light-outline btn--large">{{ page.header.cta_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
      {% endif %}
      {% if page.header.actions %}
        <p>
        {% for action in page.header.actions %}
          <a href="{{ action.url | relative_url }}" class="btn btn--light-outline btn--large" style="background-color: #000; opacity: 0.5; font-size: $ptype-size-4;">{{ action.label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>
        {% endfor %}
      {% endif %}
    </div>
  {% else %}
    <img src="{{ page.header.image | relative_url }}" alt="{{ image_description }}" class="page__hero-image">
  {% endif %}
  {% if page.header.caption %}
    <span class="page__hero-caption">{{ page.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
  {% endif %}
</div>
{% if overlay_img_path %}
</style>
{% endif %}
